.displayWrapper {
    text-align: center;
    border: 3px solid aqua;
    padding-bottom: 10px;
    background-color: darkslategray;
    margin: 5px;
}

.inputWrapper {
    text-align: center;
}

.inputItem {
    width: 150px;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    margin: 10px 10px 5px 10px;
    background-color: aqua;
    border-radius: 5px;
    border: 3px solid aqua;
}

.buttonItem {
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    border: 3px solid aqua;
}

.buttonWrapper {
    border: 3px solid aqua;
    border-radius: 5px;
    width: 180px;
    margin-left: 10px;
}

.maxNumber {
    width: 150px;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    margin: 10px 10px 5px 10px;
    background-color: aqua;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    border: 3px solid aqua;
}