.settingsWrapper {
    width: auto;
    height: 157px;
    text-align: center;
    border: 3px solid aqua;
    padding: 10px;
    background-color: darkslategray;
    margin: 5px;
}

.spanWrapper {
    width: 250px;
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    border: 3px solid aqua;
    border-radius: 5px;
    margin: 5px;
    width: 80px;
    text-align: center;
}

.span {
    width: 102px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.buttonItem {
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    border: 3px solid aqua;
}

.buttonWrapper {
    width: 250px;
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
}